<p><img src="img/logo.png" alt="Signal360" title="Follow on Twitter at @signal360"  class="img-rounded floatLeft" />			
NYC startup bringing the digital to the physical</p>					
<p><a href="https://twitter.com/signal360" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @signal360</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://www.linkedin.com/company/2392477" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/signal360" rel="me" class="social twitter" title="Go to twitter.com/signal360" target="_blank"></a></li>
	</ul>
</p>
